<launch>
	<arg name="model" default="$(find minicar)/robots/minicar.urdf"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch"/>

	<param name="robot_description" command="python $(find xacro)/xacro.py $(arg model)" />

	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
		args="-x 0 -y 0 -z 0.1 -R 0 -P 0 -Y 0 -unpause -urdf -model minicar -param robot_description" 
		respawn="false" output="screen"/> 
</launch>
